.container {
    width: 600px;
    font-family: Consolas;
}

#firstName, #lastName, #email, #password{
    width: 500px;
    height: 30px;
}

.signupImg {
    width: 20px;
}

#month {
    text-align: left;
    width: 120px;
}

#day {
    text-align: center;
    width: 120px;
}

#year {
    text-align: right;
    width: 120px;
}

#checkbox {
    height: 15px;
    width: 15px
}

.signup {
    background-color: #FF3333;
    color: white;
    width: 500px;
    height: 40px;
}

#login {
    background-color: #FF6666;
    color: white;
    width: 150px;
    height: 40px;
}

.signupfont {
    font-size: 14px;
}

.signupmemb {
    position: absolute;
    overflow: auto;
    cursor: default;
    left: 30px;
}

.navopacity {
    opacity: 0.1;
}

.loginfont {
    font-family: Consolas;
}

.loginbodyspan {
    position: absolute;
    OVERFLOW: auto;
    CURSOR: default;
    left: 440px;
    right: 0px;
}

.logincheck {
    width: 40px;
}

.loginfooterspan {
    position: absolute;
    OVERFLOW: auto;
    CURSOR: default;
    left: 0px;
    right: 400px;
}

.btnloginlogin {
    background-color: #FF3333;
    color: white;
    text-align: center;
    width: 530px;
}

.btnloginsignup {
    background-color: #FF6666;
    text-align: center;
}

footer {
    /*background-image: url("/app/images/pic/footer_grey.jpg");*/
    background-color: #cccccc;
}

.footerContainer {
    padding-top: 10px;
}

.menufoot ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menufoot li {
    margin: 0;
    display: inline;
    padding: 10px;
}

#menutop a {
    color: #000000;
    text-decoration: none;
}

#menutop a:hover {
    text-decoration: underline;
}

#menuicon {
    float: right;
    margin-right: 20px;
}

#menutop {
    float: left;
}

.icon_facebook {
    background: url(/app/images/icon/icon_facebook_sm.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 25px;
    height: 25px;
}

.icon_google {
    background: url(/app/images/icon/icon_google_sm.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 25px;
    height: 25px;
}

.icon_linkedin {
    background: url(/app/images/icon/icon_linkedin_sm.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 25px;
    height: 25px;
}

.icon_pin {
    background: url(/app/images/icon/icon_pin_sm.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 25px;
    height: 25px;
}

.icon_snapchat {
    background: url(/app/images/icon/icon_snapchat_sm.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 25px;
    height: 25px;
}

.icon_twitter {
    background: url(/app/images/icon/icon_twitter_sm.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 25px;
    height: 25px;
}
.hostInfoName{
    font-size: 40px;
    margin-left: 70px;
}
.hostInfoView{
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;
}
.hostInfoHeader{
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;
    margin-top: 20px;
}
.hostInfoPic{
    width: 150px;
    margin-left: 80px;
}
.hostInfoDes{
    margin-left: 70px;
    font-size: 20px;
}
.hostInfoLocation{
    margin-left: 70px;
    font-size: 20px;
}
.hostInfo{
    background-color: #DCDCDC;
}
.hostInfo, .review{
    margin-left: 100px;
    font-family: Consolas;
    margin-right: 100px;
    border:2px solid black;
}
.bookReservation{
    text-align: center;
    font-weight: bold;
}
.book{
    font-family: Consolas;
    font-size: 15px;
    border:2px solid black;
    text-align: center;
    width: 300px;
}
.bookDetail{
    margin-left: auto;
    margin-right: auto;
}
.bookSeat{
    text-align: center;
}
.bookTableHeader{
     margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #7F7F7F;
    font-size: 20px;
    font-weight: bold;
}
.bookBtn{
    background-color: red;
    color: white;
    text-align: center;
    width: 220px;
    height: 30px;
    box-shadow: 2px 2px 2px black;
}
.bookPerPeople{
    text-align: right;
}
.bookPrice{
    text-align: left;
}
.bookDate{
    width: 130px;
}
.bookNumber{
    width: 130px;
}
.reviewPersonPic{
    width: 120px;
    margin-left: 150px;
}
.reviewHeader{
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;
    margin-top: 20px;
}
.reviewRow1,  .reviewRow2{
    margin-left: 70px;
    font-size: 20px;
    font-weight: bold;
}
.reviewPerson1Comment{
    margin-left: 70px;
    margin-right: 70px;
}
.reviewPerson2Comment{
     margin-left: 70px;
     margin-right: 70px;
}
reviewCommentTable{
    margin-top: 40px;
}
.reviewDate{
    margin-left: 70px;
}
.reviewRow2{
    margin-bottom: 5px;
}
.hostinfoHr, .reviewHr{
    border-color: black;
    margin-left: 70px;
    margin-right: 70px;
}

.bookBody{
    background-color: white;
}
.reviewSmallHr{
    border-color: black;
    margin-left: 300px;
    margin-right: 70px;
}
.reviewBtn{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.reviewBtn button{
    color: red;
}

.reviewHeader img, .reviewRow1 img, .reviewRow2 img{
    width: 120px;
}
.reviewCommentDetail{
    font-size: 20px;
    font-weight: bold;
}
.reviewTriangle img{
    width: 20px;
}


