.navopacity {
    opacity: 0.1;
}

.loginfont {
    font-family: Consolas;
}
    
.loginbodyspan {
    position: absolute;OVERFLOW: auto; CURSOR: default;left: 440px;right: 0px;
}

.loginfooterspan {
    position: absolute;OVERFLOW: auto; CURSOR: default;left: 0px;right: 400px;
}

.btnloginlogin {
    background-color:#FF3333;color:white;text-align:center;width:530px;
}

.btnloginsignup {
    background-color:#FF6666;text-align:center;
}