<div class="row">
    <div class="col-lg-8 col-md-12 rm-padding-sm">
        <a href="#/dinnerList">
            <div class="home_col_1 rm-padding-sm space-4"></div>
        </a>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="home_col_2"></div>
        </a>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm">
        <a href="#/">
            <div class="home_col_2 rm-padding-sm space-4"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm">
        <a href="#/">
            <div class="home_col_2 rm-padding-sm space-4"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm">
        <a href="#/">
            <div class="home_col_2 rm-padding-sm space-4"> </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-4">
        <a href="#/">
            <div class="home_col_2"></div>
        </a>
    </div>
    <div class="col-lg-8 col-md-12 rm-padding-sm">
        <a href="#/">
            <div class="home_col_1 rm-padding-sm space-4"></div>
        </a>
    </div>

    <div class="col-lg-4 col-md-6 col-switch col-md-push-6 col-lg-push-0">
        <a href="#/">
            <div class="home_col_2 rm-padding-sm space-4"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6">
        <a href="#/">
            <div class="home_col_2 rm-padding-sm space-4"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 ">
        <a href="#/">
            <div class="home_col_2 rm-padding-sm space-4"></div>
        </a>
    </div>
</div>