<div class="book">
    <table class="bookTableHeader">
        <tr>
            <td ng-model="bookPrice" ng-init="bookPrice='29'"><span class="pull-left"> $ {{bookPrice}}</span></td>
            <td class="pull-right">Per People</td>
        </tr>
    </table>
    <div class="bookBody">
    <table class="bookDetail">
        <tr class="bookReservation">
            <td>Dinner Time</td>&nbsp; &nbsp; &nbsp; &nbsp;
            <td>Guests</td>
        </tr>
        <tr class="bookReservationDetail">
            <td><input type="date" name="bookDate" id="bookDate" class="bookDate"></td>
            <td><input type="number" name="bookNumber" ng-model="bookNumber" class="bookNumber" min="1"></td>
        </tr>
    </table>
    <a href="#/manageOrder"><button class="bookBtn">Book a Dinner</button></a><br>
    <p ng-model="bookSeat" ng-init="bookSeat='10'" class="bookSeat">{{bookSeat}} seats left, hurry up!</p>
    </div>
    <div class="bookLeftTable">
        <button class="bookWishBtn" ng-click="bookWishNumber = bookWishNumber + 1" ng-init="bookWishNumber=0"><span class="glyphicon glyphicon-heart-empty"> Save to Wish List</span></button>
        <p class="bookSavedNumber"><span class="bookWishFoodie">{{bookWishNumber}}</span> Foodies saved this page</p>
        <div class="bookReport"><span class="glyphicon glyphicon-flag">&nbsp; Report this page</span></div>
    </div>
</div>