<div class="personInfo_container">
    <div class="personInfo_space_4 personInfo_space_top_4">

        <div class="personInfo_row1">
            <div class="col-md-3 personInfo_text" id="personInfo_col_3">
                <div class="personInfo_photo_badge">
                    <a href="#hostProfile" class="personInfo_photo personInfo_round">
                        <img alt="Host Profile Image" src="images/pic/host01.jpg" class="personInfo_profile_image"></a>
                </div>
            </div>

            <div class="col-md-9" id="personInfo_col_9">
                <h1>Authentic Chinese food</h1>
                <div id="display_address" class="personInfo_space_2 text_muted">
                    <span>360 Huntington, Boston, MA</span>&nbsp;&nbsp;&nbsp;
                    <!--<span><img class="rating_offscreen" height="303" src="//s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c2252a4cd43e/assets/img/stars/stars_map.png" width="84" alt="5.0 star rating"></span>-->
                    <span  class="personInfo5star"><img alt="5 star" src="images/pic/5star.png"></span>&nbsp;&nbsp;&nbsp;
                    <span>133 Reviews</span>
                </div>
                <div class="personInfo_row_condensed personInfo_text text_muted">
                    <div class="col-sm-2"><i class="icon_foodCategory"></i></div>
                    <div class="col-sm-2"><i class="icon_clientNumber"></i></div>
                    <div class="col-sm-2"><i class="icon_outdoor"></i></div>
                </div>
            </div>
        </div>

        <div class="personInfo_row2">
            <div class="col-md-3 personInfo_text personInfo_text_muted" id="personInfo_col_3">
                <a href="#hostProfile" class="personInfo_text_wrap personInfo_link_reset">Leo</a>
            </div>

            <div class="col-md-9" id="personInfo_col_9">
                <div class="personInfo_DescriptionRow personInfo_row_condensed personInfo_text personInfo_text_muted">
                    <div class="col-sm-2">Chinese Food</div>
                    <div class="col-sm-2">10 Foodies</div>
                    <div class="col-sm-2">Outdoor</div>
                </div>
            </div>
        </div>
    </div>
</div>