<div class="setGuestNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/setDate">Date</a></li>
            <li><a href="#/setPrice">Price</a></li>
            <li class="active"><a href="#/setDiscount">Discount</a></li>
            <li><a href="#/setRules">Rules</a></li>
        </ul>
    </nav>
</div>
<div class="setDiscountTemp">
     <table>
        <tr>
            <td class="setDiscountLeft">
                <h1 class="setDiscountH1">Set discount</h1>
                <div class="setDiscountFee">
                    <p class="text-muted">Discount for weekend</p>
                    <p><span><input type="text"></span>&nbsp; % &nbsp; Off<span></span></p>

                </div>
                <div class="setDiscountFooter">
                    <hr>
                    <span class="setDiscountFooterBack"><a href="#/setPrice">< Back</a></span>
                    <span class="setDiscountFooterBtn"><a href="#/setRules" class="btn btn-success" role="button">Next</a></span>
                </div>
            </td>
            <td>
                <div class="setDiscountRight"><img src="images/pic/host01.jpg"></div>
            </td>
        </tr>
    </table>

</div>