<div class="setGuestNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/setDate">Date</a></li>
            <li><a href="#/setPrice">Price</a></li>
            <li><a href="#/setDiscount">Discount</a></li>
            <li><a href="#/setRules">Rules</a></li>
        </ul>
    </nav>
</div>
<div class="setDateTemp">
    <table>
        <tr>
            <td class="setDateCalendarT">
                <h1 class="setDateDinner">Set date of your dinner</h1>
                <div class="setDateCalendar">
                    <hr>
                    <span><input type="date"></span><span><img src="images/icon/calendar.png"></span>
                    <hr>
                </div>
                <div class="setDateFooter">
                    <hr>
                    <span class="setDateFooterBack"><a href="#/createDinner">< Back</a> </span>
                    <span class="setDateFooterBtn"><a href="#/setPrice" class="btn btn-success" role="button">Next</a></span>
                </div>
            </td>
            <td>
                <div class="setDateRight"><img src="images/pic/host01.jpg"></div>
            </td>
        </tr>
    </table>

</div>