<!--<div class="setGuestNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/setDate">Date</a></li>
            <li><a href="#/setPrice">Price</a></li>
            <li class="active"><a href="#/setDiscount">Discount</a></li>
            <li><a href="#/setRules">Rules</a></li>
        </ul>
    </nav>
</div>
<div class="setDiscountTemp">
     <table>
        <tr>
            <td class="setDiscountLeft">
                <h1 class="setDiscountH1">Set discount</h1>
                <div class="setDiscountFee">
                    <p class="text-muted">Discount for weekend</p>
                    <p><span><input type="text"></span>&nbsp; % &nbsp; Off<span></span></p>

                </div>
                <div class="setDiscountFooter">
                    <hr>
                    <span class="setDiscountFooterBack"><a href="#/setPrice">< Back</a></span>
                    <span class="setDiscountFooterBtn"><a href="#/setRules" class="btn btn-success" role="button">Next</a></span>
                </div>
            </td>
            <td>
                <div class="setDiscountRight"><img src="images/pic/wallet1.jpg"></div>
            </td>
        </tr>
    </table>

</div>-->

<div class="setDiscountTemp">
    <div class="setGuestNavbar">
        <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/setDate">Date</a></li>
            <li><a href="#/setPrice">Price</a></li>
            <li class="active"><a href="#/setDiscount">Discount</a></li>
            <li><a href="#/setRules">Rules</a></li>
        </ul>
    </nav>
    </div>

    <div class="uploadPhotTalbe">
        <div class="col-sm-8">
            <div class="setMenuLeft">
                <h1 class="uploadPhotoLeftPhotos">Set discount</h1>
                <div class="setMenuTable">
                   <div class="setDiscountFee">
                    <p class="text-muted">Discount for weekend</p>
                    <p><span><input type="text"></span>&nbsp; % &nbsp; Off<span></span></p>

                </div>

                </div>
                <hr>
                <div class="uploadPhotoFooter">
                   <span class="setDiscountFooterBack"><a href="#/setPrice">< Back</a></span>
                    <span class="setDiscountFooterBtn"><a href="#/setRules" class="btn btn-success" role="button">Next</a></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="setMenuRight">
                <div class="setLocation_help_panel-bulb_img"></div>
                <p>Can you have some discount for others to share your happiness.Thanks for your generality.</p>
                <img src="images/pic/moneyBasket.jpg">
            </div>
        </div>
    </div>
</div>