<div class="setGuestNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/setDate">Date</a></li>
            <li class="active"><a href="#/setPrice">Price</a></li>
            <li><a href="#/setDiscount">Discount</a></li>
            <li><a href="#/setRules">Rules</a></li>
        </ul>
    </nav>
</div>
<div class="setPriceTemp">
    <table>
        <tr>
            <td class="setPriceLeft">
                <h1 class="setPriceWhat">Set your price</h1>
                <p>Your price is your default rate per guest.</p>
                <hr>
                <div class="setPriceTable">

                    <p>Price</p>
                    <p> <span>$</span><span><input type="text"></span><span>per guest</span></p>

                    <p>Other fee</p>
                    <span>Cleaning Fee: &nbsp</span><input type="text"><span><span>$</span>

                </div>
                <div class="setPriceFooter">
                    <hr>
                    <span class="setPriceFooterBack"><a href="#/setDate">< Back</a> </span>
                    <span class="setPriceFooterBtn"><a href="#/setDiscount" class="btn btn-success" role="button">Next</a></span>
                </div>
            </td>
            <td>
                <div class="setPriceRight"><img src="images/pic/host01.jpg"></div>
            </td>
        </tr>
    </table>

</div>