<div class="setPriceTemp">
    <div class="setGuestNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/setDate">Date</a></li>
                <li class="active"><a href="#/setPrice">Price</a></li>
                <li><a href="#/setDiscount">Discount</a></li>
                <li><a href="#/setRules">Rules</a></li>
            </ul>
        </nav>
    </div>

    <div class="uploadPhotTalbe">
        <div class="col-sm-8">
            <div class="setMenuLeft">
                <h1 class="uploadPhotoLeftPhotos">Set price of your dinner</h1>
                <div class="setMenuTable">
                    <div class="setPriceTable">

                        <p>Price</p>
                        <p> <span>$</span><span><input type="text"></span><span>per guest</span></p>

                        <p>Other fee</p>
                        <span>Cleaning Fee: &nbsp</span><input type="text"><span><span>$</span>

                    </div>

                </div>
                <hr>
                <div class="uploadPhotoFooter">
                    <span class="setPriceFooterBack"><a href="#/setDate">< Back</a> </span>
                    <span class="setPriceFooterBtn"><a href="#/setDiscount" class="btn btn-success" role="button">Next</a></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="setMenuRight">
                <div class="setLocation_help_panel-bulb_img"></div>
                <p>Set the price and share it to every one.</p>
                <img src="images/pic/moneyBasket.jpg">
            </div>
        </div>
    </div>
</div>