<div class="setGuestNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/setDate">Date</a></li>
            <li><a href="#/setPrice">Price</a></li>
            <li class="active"><a href="#/setDiscount">Discount</a></li>
            <li><a href="#/setRules">Rules</a></li>
        </ul>
    </nav>
</div>
<div class="setRulesTemp">
    <table>
        <tr>
            <td class="setRulesLeft">
                <h1 class="setPriceWhat">Set dinner rules for your guests</h1>
                <table class="setPriceTable">
                    <div class="setPriceItem">
                        <div class="col-sm-6">
                        <span class="setPriceBorder"> Allow Overnight?</span></div>
                        <div class="col-sm-6">
                        <span> <input type="radio" value="yes" required> Yes</span>
                        <span> <input type="radio" value="no" required> No</span></div>
                    </div>
                    <div class="setPriceItem">
                        <div class="col-sm-6">
                        <span class="setPriceBorder"> Smoking Allowed?</span></div>
                        <div class="col-sm-6">
                        <span> <input type="radio" value="yes" required> Yes</span>
                        <span> <input type="radio" value="no" required> No</span></div>
                    </div>
                    <div class="setPriceItem">
                        <div class="col-sm-6">
                        <span class="setPriceBorder"> Cancellation?</span></div>
                        <div class="col-sm-6">
                        <span> <input type="radio" value="yes" required> Yes</span>
                        <span> <input type="radio" value="no" required> No</span></div>
                    </div>
                </table>
                <div class="setPriceFooter">
                    <hr>
                    <span class="setPriceFooterBack"><a href="#/setDate">< Back</a> </span>
                    <span class="setPriceFooterBtn"><a href="#/createDinner" class="btn btn-success" role="button">Finish</a></span>
                </div>
            </td>
            <td>
                <div class="setPriceRight"><img src="images/pic/host01.jpg"></div>
            </td>
        </tr>
    </table>
</div>