<!--<div class="setGuestNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/setDate">Date</a></li>
            <li><a href="#/setPrice">Price</a></li>
            <li><a href="#/setDiscount">Discount</a></li>
            <li class="active"><a href="#/setRules">Rules</a></li>
        </ul>
    </nav>
</div>
<div class="setRulesTemp">
    <table>
        <tr>
            <td class="setRulesLeft">
                <h1 class="setPriceWhat">Set dinner rules for your guests</h1>
                <table class="setPriceTable">
                    <div class="setPriceItem">
                        <div class="col-sm-6">
                        <span class="setPriceBorder"> Allow Overnight?</span></div>
                        <div class="col-sm-6">
                        <span> <input type="radio" value="yes" required> Yes</span>
                        <span> <input type="radio" value="no" required> No</span></div>
                    </div>
                    <div class="setPriceItem">
                        <div class="col-sm-6">
                        <span class="setPriceBorder"> Smoking Allowed?</span></div>
                        <div class="col-sm-6">
                        <span> <input type="radio" value="yes" required> Yes</span>
                        <span> <input type="radio" value="no" required> No</span></div>
                    </div>
                    <div class="setPriceItem">
                        <div class="col-sm-6">
                        <span class="setPriceBorder"> Cancellation?</span></div>
                        <div class="col-sm-6">
                        <span> <input type="radio" value="yes" required> Yes</span>
                        <span> <input type="radio" value="no" required> No</span></div>
                    </div>
                </table>
                <div class="setPriceFooter">
                    <hr>
                    <span class="setPriceFooterBack"><a href="#/setDate">< Back</a> </span>
                    <span class="setPriceFooterBtn"><a href="#/createDinner" class="btn btn-success" role="button">Finish</a></span>
                </div>
            </td>
            <td>
                <div class="setPriceRight"><img src="images/pic/dinnerTable.jpg"></div>
            </td>
        </tr>
    </table>
</div>-->

<div class="setRulesTemp">
    <div class="setGuestNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/setDate">Date</a></li>
                <li><a href="#/setPrice">Price</a></li>
                <li><a href="#/setDiscount">Discount</a></li>
                <li class="active"><a href="#/setRules">Rules</a></li>
            </ul>
        </nav>
    </div>

    <div class="uploadPhotTalbe">
        <div class="col-sm-8">
            <div class="setMenuLeft">
                <h1 class="uploadPhotoLeftPhotos">Set dinner rules for your guests</h1>
                <div class="setMenuTable">
                    <table class="setPriceTable">
                        <div class="setPriceItem">
                            <div class="col-sm-6">
                                <span class="setPriceBorder"> Allow Overnight?</span></div>
                            <div class="col-sm-6">
                                <span> <input type="radio" value="yes" required> Yes</span>
                                <span> <input type="radio" value="no" required> No</span></div>
                        </div>
                        <div class="setPriceItem">
                            <div class="col-sm-6">
                                <span class="setPriceBorder"> Smoking Allowed?</span></div>
                            <div class="col-sm-6">
                                <span> <input type="radio" value="yes" required> Yes</span>
                                <span> <input type="radio" value="no" required> No</span></div>
                        </div>
                        <div class="setPriceItem">
                            <div class="col-sm-6">
                                <span class="setPriceBorder"> Cancellation?</span></div>
                            <div class="col-sm-6">
                                <span> <input type="radio" value="yes" required> Yes</span>
                                <span> <input type="radio" value="no" required> No</span></div>
                        </div>
                    </table>
                </div>
                <hr>
                <div class="uploadPhotoFooter">
                    <span class="setPriceFooterBack"><a href="#/setDiscount">< Back</a> </span>
                    <span class="setPriceFooterBtn"><a href="#/createDinner" class="btn btn-success" role="button">Finish</a></span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="setMenuRight">
                <div class="setLocation_help_panel-bulb_img"></div>
                <p>Set the .rules when sharing dishes with others, it will bring conveninece to  all of us.</p>
                <img src="images/pic/noodle.jpg">
            </div>
        </div>

    </div>
</div>