
<div class="createDinnerTemp">
    <div class="col-sm-6">
        <div class="startDinnerHostBody">
            <table>
                <tr>
                    <div class="startDinnerHostHeader">
                        <h1>Become a Dinner host today!</h1>
                        <p>Start of by creating a listing page. Think of it as a introduction page for your dinner and your
                            fanccy food.
                        </p>
                    </div>
                </tr>
                <tr>
                    <div class="startDinnerS1">
                        <p class="text-muted">Step 1</p>
                        <p>Start with the basics</p>
                        <button type="button" class="startDinnerHostBtn"><a href="#/setLocation">Update</a></button>
                        <hr class="startDinnerHostHR">
                    </div>
                </tr>
                <tr>
                    <div class="startDinnerS2">
                        <p class="text-muted">Step 2</p>
                        <p>Set the menu</p>
                        <button type="button" class="startDinnerHostBtn"><a href="#/uploadPhoto">Update</a></button>
                        <hr class="startDinnerHostHR">
                    </div>
                </tr>
                <tr>
                    <div class="startDinnerS3">
                        <p class="text-muted">Step 3</p>
                        <p>Get ready for guests</p>
                        <button type="button" class="startDinnerHostBtn"><a href="#/setDate">Update</a></button>
                        <hr class="startDinnerHostHR">
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="startDinnerHostImg">
            <img src="images/pic/dinnerTable.jpg">
        </div>
    </div>
</div>
<a href="#/setLocation">.</a>
<!--<a href="#/uploadPhoto">set menu</a>
<a href="#/setDate">set guest</a>-->