<div class="dinner-list-container">
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
</div>