<label for="pickDate" class="date-label">Dates</label>
<input type="date" id="pickDate" name="date" class="date-input">
<select name="guests" class="guest-combo">
    <option value="1">1 guest</option>
    <option value="2">2 guests</option>
    <option value="3">3 guests</option>
    <option value="4">4 guests</option>
  </select>
<hr>
<label for="foodtype" class="food-type-label">Food Type</label>

<span class="span-food-check">
    <input type="checkbox" name="chinesefood" id="foodtype" class="food-check"> Chinese Food  
</span>
<span class="span-food-check">
    <input type="checkbox" name="chinesefood" class="food-check"> Italian Food 
</span>
<span class="span-food-check">
    <input type="checkbox" name="chinesefood" class="food-check"> American Food  
</span>
<hr>

<div class="dinner-list-container">
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 rm-padding-sm space-4">
        <a href="#/dinner">
            <div class="dinner_col"></div>
        </a>
    </div>
</div>