<div class="dinnerListSidebar">

    <div class="dinnerListFilter">
        <label for="pickDate" class="date-label" id="dinnerList_span">Dates</label>
        <input type="date" id="pickDate" name="date" class="date-input">
        <select name="guests" class="guest-combo">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
            <option value="4">4 guests</option>
        </select>
        <hr>
        <label for="foodtype" class="food-type-label" id="dinnerList_span">Food Type</label>

        <span class="span-food-check">
            <input type="checkbox" name="chinesefood" id="foodtype" class="food-check"> Chinese Food  
        </span>
        <span class="span-food-check">
            <input type="checkbox" name="chinesefood" class="food-check"> Italian Food 
        </span>
        <span class="span-food-check">
            <input type="checkbox" name="chinesefood" class="food-check"> American Food  
        </span>
        <hr>
    </div>

    <div class="dinner-list-container space-2">
        <div class="dinnerListRow">

            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col" id="dinnerList_col_01"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal" id="dinnerList_a_01">
                        <span id="dinnerList_span">Kidney Bean</span>
                    </a>
                </h3>
                <a href="#/dinner" id="dinnerList_a_02">
                    <span><i class="icon_business"></i></span><span> · </span>
                    <span>Indoor/Outdoor</span><span> · </span><span>10 Guests</span><span> · </span>
                    <span>30 Reviews</span>
                </a>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col" id="dinnerList_col_02"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal" id="dinnerList_a_01">
                        <span id="dinnerList_span">Celery Lily</span>
                    </a>
                </h3>
                <a href="#/dinner" id="dinnerList_a_02">
                    <span>Indoor</span><span> · </span><span>8 Guests</span><span> · </span>
                    <span>15 Reviews</span>
                </a>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col" id="dinnerList_col_03"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal" id="dinnerList_a_01">
                        <span id="dinnerList_span">Roast Duck</span>
                    </a>
                </h3>
                <a href="#/dinner" id="dinnerList_a_02">
                    <span><i class="icon_business"></i></span><span> · </span>                
                    <span>Indoor/Outdoor</span><span> · </span><span>12 Guests</span><span> · </span>
                    <span>66 Reviews</span>
                </a>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col" id="dinnerList_col_04"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal" id="dinnerList_a_01">
                        <span id="dinnerList_span">Chicken Claw</span>
                    </a>
                </h3>
                <a href="#/dinner" id="dinnerList_a_02">
                    <span>Indoor</span><span> · </span><span>3 Guests</span><span> · </span>
                    <span>6 Reviews</span>
                </a>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col" id="dinnerList_col_05"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal" id="dinnerList_a_01">
                        <span id="dinnerList_span">Spring Rolls</span>
                    </a>
                </h3>
                <a href="#/dinner" id="dinnerList_a_02">
                    <span><i class="icon_business"></i></span><span> · </span>                
                    <span>Indoor/Outdoor</span><span> · </span><span>20 Guests</span><span> · </span>
                    <span>25 Reviews</span>
                </a>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col" id="dinnerList_col_06"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal" id="dinnerList_a_01">
                        <span id="dinnerList_span">Chicken Cubes</span>
                    </a>
                </h3>
                <a href="#/dinner" id="dinnerList_a_02">
                    <span>Indoor</span><span> · </span><span>5 Guests</span><span> · </span>
                    <span>10 Reviews</span>
                </a>
            </div>


            <!--<div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>-->


        </div>

    </div>

    <div class="dinner_results dinnerListSide_space_8">
        <div class="dinner_results_count">
            <span>1 – 18 of 300+ Dinners</span>
        </div>
        <div class="dinner_pagination_container">
            <ul class="dinner_list_unstyled">
                <li><a href="#/dinnerList">1</a></li>
                <li><a href="#" rel="next">2</a></li>
                <li><a href="#" rel="next">3</a></li>
                <li class="dinnerList_gap">
                    <span class="dinnerList_gap">...</span>
                </li>
                <li><a href="#" rel="next">17</a></li>
                <li>
                    <a href="#" rel="next">
                        <span class="screen_reader_only">Next</span>
                        <i class="dinnerList_icon icon_caret_right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>