<div class="dinnerListSidebar">

    <div class="dinnerListFilter">
        <label for="pickDate" class="date-label">Dates</label>
        <input type="date" id="pickDate" name="date" class="date-input">
        <select name="guests" class="guest-combo">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
            <option value="4">4 guests</option>
        </select>
        <hr>
        <label for="foodtype" class="food-type-label">Food Type</label>

        <span class="span-food-check">
            <input type="checkbox" name="chinesefood" id="foodtype" class="food-check"> Chinese Food  
        </span>
        <span class="span-food-check">
            <input type="checkbox" name="chinesefood" class="food-check"> Italian Food 
        </span>
        <span class="span-food-check">
            <input type="checkbox" name="chinesefood" class="food-check"> American Food  
        </span>
        <hr>
    </div>

    <div class="dinner-list-container space-2">
        <div class="dinnerListRow">

            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                        <span>Karaage</span>
                    </a>
                </h3>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                        <span>Karaage</span>
                    </a>
                </h3>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                        <span>Karaage</span>
                    </a>
                </h3>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                        <span>Karaage</span>
                    </a>
                </h3>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                        <span>Karaage</span>
                    </a>
                </h3>
            </div>
            <div class="col-lg-4 dinner_col_sm_12 rm-padding-sm space-2">
                <a href="#/dinner">
                    <div class="dinner_col"></div>
                </a>
                <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                    <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                        <span>Karaage</span>
                    </a>
                </h3>
            </div>


            <!--<div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-2">
                <div class="listing">
                    <div class="panel_img listing_img">
                        <a href="#/dinner">
                            <div class="dinner_col"></div>
                        </a>
                    </div>
                    <div class="panel_body listing_card">
                        <h3 title="Karaage" class="h5 listing_name text_truncate space_top_1">
                            <a href="#/dinner" class="dinnerList_a dinnerList_text_normal">
                                <span>Karaage</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>-->


        </div>

    </div>

    <div class="dinner-pagination"></div>

</div>