<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheet/stylesheet.css" />
</head>

<body ng-controller="commonController">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">
                    <img alt="brandIcon" src="images/icon/brand.png">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/"><i class="fa fa-home"></i> Home
                        <img alt="homeIcon" src="images/icon/home.png">
                    </a>
                </li>
                <li>
                    <a href="#/login"><i class="fa fa-home"></i> Help
                        <img alt="helpIcon" src="images/icon/help.png">
                    </a>
                </li>
                <li>
                    <a href="#/" ng-click="open()"><i class="fa fa-home" ></i> Leo
                        <img alt="profileIcon" src="images/icon/profile.png">
                    </a>
                </li>
                <li>
                    <a href="#/" ng-click="signUp()"><i class="fa fa-home" ></i> Leo
                        <img alt="profileIcon" src="images/icon/profile.png">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div ng-view></div>
    <!--<div ng-controller="loginController">

    </div>-->


</body>
<script src="../bower_components/requirejs/require.js" data-main="../app/common.js"></script>

</html>