<div class="manageDinnerTemp">

    <div class="manageListNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/manageReservation">Your Listing</a></li>
                <li><a href="#">Profile</a></li>
                <li class="active"><a href="#/manageDinner1">Your Dinner</a></li>
                <li><a href="#/manageOrder">Your Order</a></li>
            </ul>
        </nav>
    </div>

    <div class="manageDinnerBody">
        <div class="manageDinnerB1">
            
            <div class="col-sm-4">
                <div class="manageDinnerPic">
                    <img src="images\pic\boiledFish.jpg" class="img-rounded">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="manageDinnerDetail">
                    <h3 class="manageDinnerTitle">Spicy Boiled Fish &nbsp; &nbsp; <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                    <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                    <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                    <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span></h3>
                    <p class="manageDinnerIngredient">Description</p>
                    <p class="manageDinnerDescription">Poached sliced fish in hot chili oil, cooked with bean sprout and mushroom.
                    </p>
                    <p class="manageDinnerIngredient">Ingredients</p>
                    <table>
                        <tr>
                            <td>3</td>
                            <td>tablespoons <span class="manageDinnerGreen">cornstarch</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>tablespoons<span class="manageDinnerGreen"> corn oil</span>, divided</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>tablespoons<span class="manageDinnerGreen"> Sichuan peppercorns</span></td>
                        </tr>
                        <tr>
                            <td>1⁄2</td>
                            <td>dry small<span class="manageDinnerGreen"> red chili</span></td>
                        </tr>
                        <tr>
                            <td>1⁄4</td>
                            <td> pound Chinese<span class="manageDinnerGreen"> celery </span>(or celery)</td>
                        </tr>
                        <tr>
                            <td> 1⁄4</td>
                            <td> pound stem <span class="manageDinnerGreen">lettuce </span>, romaine lettuce heart (or napa cabbage)</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>tablespoons rice<span class="manageDinnerGreen"> wine</span></td>
                        </tr>
                        <tr>
                            <td>1⁄4</td>
                            <td>cup <span class="manageDinnerGreen">corn oil</span></td>
                        </tr>
                        <tr>
                            <td> 1⁄4</td>
                            <td>cup hot<span class="manageDinnerGreen"> chili sauce</span>, Chinese (or Chinese hot bean paste)</td>
                        </tr>
                        <tr>
                            <td> 2</td>
                            <td> teaspoons<span class="manageDinnerGreen"> sugar</span> </td>
                        </tr>
                        <tr>
                            <td>20-30 &nbsp;&nbsp;</td>
                            <td>sliced<span class="manageDinnerGreen"> fish</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr class="manageDinnerHR">
        <div class="manageDinnerB2">
            
            <div class="col-sm-4">
                <div class="manageDinnerPic">
                    <img src="images\pic\eggplant.jpg" class="img-rounded">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="manageDinnerDetail">
                    <h3 class="manageDinnerTitle">Braised Eggplant</h3>
                    <p class="manageDinnerIngredient">Description</p>
                    <p class="manageDinnerDescription">Stewed eggplant with garlic, scallions and ginger sauce in clay pot, has a fish flavor.
                    </p>
                    <p class="manageDinnerIngredient">Ingredients</p>
                    <table>
                        <tr>
                            <td>1 </td>
                            <td>lb narrow <span class="manageDinnerGreen">eggplants</span> or 1 lb round eggplant</td>
                        </tr>
                        <tr>
                            <td>1⁄2 -1 &nbsp;&nbsp;</td>
                            <td>teaspoon <span class="manageDinnerGreen">salt</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>tablespoons <span class="manageDinnerGreen">vegetable oil</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>tablespoons light<span class="manageDinnerGreen"> soy sauce</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><span class="manageDinnerGreen">garlic cloves</span>, finely chopped</td>
                        </tr>
                        <tr>
                            <td>1 </td>
                            <td>tablespoon<span class="manageDinnerGreen"> ginger</span>, minced</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tablespoon<span class="manageDinnerGreen"> hoisin sauce</span></td>
                        </tr>
                        <tr>
                            <td> 1⁄4</td>
                            <td>teaspoon <span class="manageDinnerGreen">sugar</span></td>
                        </tr>
                        <tr>
                            <td> 1</td>
                            <td> tablespoon <span class="manageDinnerGreen">sesame oil</span></td>
                        </tr>
                        <tr>
                            <td>3 </td>
                            <td><span class="manageDinnerGreen">green onions</span>, chopped</td>
                        </tr>
                        <tr>
                            <td>2 </td>
                            <td>teaspoons<span class="manageDinnerGreen"> chili bean paste</span></td>
                        </tr>
                        <tr>
                            <td>2 </td>
                            <td>teaspoons rice<span class="manageDinnerGreen"> vinegar</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="manageDinnerBtn">
            <ul>
                <li><a href="#/manageDinner1" class="btn btn-defaul btn-lg">1</a></li>
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg active">2</a></li>
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">3</a></li>
                ........
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">8</a></li>
                <li><a href="#/manageDinnerLast" class="btn btn-defaul btn-lg">&raquo;</a></li>
            </ul>
        </div>

    </div>

</div>