<div class="manageDinnerTemp">

    <div class="manageListNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/manageReservation">Your Listing</a></li>
                <li><a href="#/editProfile">Profile</a></li>
                <li class="active"><a href="#/manageDinner1">Your Dinner</a></li>
                <li><a href="#/manageOrder">Your Order</a></li>
            </ul>
        </nav>
    </div>

    <div class="manageDinnerBody">
        <div class="manageDinnerB1Scallion">
            <div class="col-sm-4">
                <div class="manageDinnerPic">
                    <img src="images\pic\greenOnionPie.jpg" class="img-rounded">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="manageDinnerDetail">
                     <h3 class="manageDinnerTitle">Scallion Pie</h3>
                    <p class="manageDinnerIngredient">Description</p>
                    <p class="manageDinnerDescription">A Chinese savory, unleavened flatbread folded with oil and minced scallions, it is made from dough instead of batter.
                    </p>
                    <p class="manageDinnerIngredient">Ingredients</p>
                    <table>

                        <tr>
                            <td>2</td>
                            <td>cups all-purpose<span class="manageDinnerGreen"> flour</span></td>
                        </tr>
                        <tr>
                            <td>1-1⁄4</td>
                            <td>chopped <span class="manageDinnerGreen">green onions</span> - cleaned and patted dry</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>cup boiling<span class="manageDinnerGreen"> water</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>tablespoons Chinese toasted <span class="manageDinnerGreen">sesame oil</span></td>
                        </tr>
                        <tr>
                            <td> 1⁄4 - 1⁄2 &nbsp;&nbsp;</td>
                            <td> <span class="manageDinnerGreen">salt</span></td>
                        </tr>
                        <tr>
                            <td>1⁄2-1 &nbsp;&nbsp;</td>
                            <td>spoons<span class="manageDinnerGreen"> vegetable oil</span></td>
                        </tr>
                       
                    </table>
                </div>
            </div>
        </div>
        <hr class="manageDinnerHR">
        <div class="manageDinnerB2">
            <div class="col-sm-4">
                <div class="manageDinnerPic">
                    <img src="images\pic\hotpot.jpg" class="img-rounded">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="manageDinnerDetail">
                    <h3 class="manageDinnerTitle">Hot Pot&nbsp; &nbsp; <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                    <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                    <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span></h3>
                    <p class="manageDinnerIngredient">Description</p>
                    <p class="manageDinnerDescription">Places meat and vegetables into a  a simmering metal pot, the cooked food is usually eaten with a dipping sauce.
                    </p>
                    <p class="manageDinnerIngredient">Ingredients</p>
                    <table>
                        <tr>
                            <td>10</td>
                            <td> cups rich<span class="manageDinnerGreen"> seafood </span>or <span class="manageDinnerGreen">chicken stock</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tablespoon <span class="manageDinnerGreen">ginger</span>, minced</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tablespoon<span class="manageDinnerGreen"> garlic</span>, minced</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><span class="manageDinnerGreen">green onions</span>, chopped finely</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>tablespoons<span class="manageDinnerGreen"> sugar</span></td>
                        </tr>
                        <tr>
                            <td> 3⁄4 </td>
                            <td>cup dried<span class="manageDinnerGreen"> mustard powder</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>tablespoons <span class="manageDinnerGreen">sesame oil</span></td>
                        </tr>
                        <tr>
                            <td> 3⁄4 -1</td>
                            <td>teaspoon<span class="manageDinnerGreen"> cooking oil</span></td>
                        </tr>
                        <tr>
                            <td>  2⁄3</td>
                            <td>cup rice wine<span class="manageDinnerGreen"> vinegar</span></td>
                        </tr>
                        <tr>
                            <td> 12 </td>
                            <td><span class="manageDinnerGreen">shrimp</span>, peeled, deveined and butterflied</td>
                        </tr>
                        <tr>
                            <td>8 </td>
                            <td>shucked<span class="manageDinnerGreen"> oysters</span></td>
                        </tr>
                        <tr>
                            <td> 8</td>
                            <td>sea <span class="manageDinnerGreen">scallops</span>, sliced</td>
                        </tr>
                        <tr>
                            <td>Optional &nbsp;&nbsp;</td>
                            <td>You can choose <span class="manageDinnerGreen">what you want</span>, but you need to request previously!</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="manageDinnerBtn">
            <ul>
                <li><a href="#/manageDinner1" class="btn btn-defaul btn-lg">1</a></li>
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">2</a></li>
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">3</a></li>
                ........
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">8</a></li>
                <li><a href="#/manageDinnerLast" class="btn btn-defaul btn-lg active">&raquo;</a></li>
            </ul>
        </div>

    </div>

</div>