<div class="manageListNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/manageListing">Your Listing</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#/manageDinner1">Your Dinner</a></li>
            <li class="active"><a href="#/manageOrder">Your Order</a></li>
        </ul>
    </nav>
</div>

<div class="manageOrderTemp">

    <div class="col-sm-7">
        <div class="manageOrderLeft">
            <div class="manageOrderLeftDetail">
            <h1>About your Order</h1>
            <span><img src="images/pic/host01.jpg" class="img-circle">  </span>
            <span class="manageOrderBig text-muted">Your Host, Leo</span>
            <p class="manageOrderMargin"><span  class="manageOrderBig">How many guests come?</span></p>
            <input type="number" min="1" placeholder="1 Guest">
            <p class="manageOrderMargin"><span  class="manageOrderBig">Say hello to your host, and tell your host something special.</span></p>
            <textarea placeholder="Hello!"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="manageOrderRight">
            <div class="manageOrderPicture">
                <img src="images/pic/dinnerPic01.jpg">
                <div class="manageOrderHostPic">
                    <img src="images/pic/host01.jpg" class="img-circle">
                </div>
            </div>

            <div class="manageOrderDetail">
                <p class="manageOrderBig"><span class="text-muted">360 Huntington Ave, Boston, MA, USA</span></p>
                <P><span class="manageOrderBig">Email:</span> <span class="manageOrderSmall">leo@gmail.com</span></P>
                <hr>
                <p class="manageOrderBig"><span class="text-muted">Order Date:</span></p>
                <p class="manageOrderBig">August 21, 2016</p>
                <hr>
                <p class="manageOrderRule">Cancellation Available<span><img src="images/icon/right.png"></span></p>
                <p class="manageOrderRule">Smoking Not Allowed <span><img src="images/icon/right.png"></span></p>
                <p class="manageOrderRule">Overnight Not Allowed <span><img src="images/icon/right.png"></span></p>
            </div>
        </div>
    </div>


</div>