<div class="manageDinnerTemp">

    <div class="manageListNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/manageReservation">Your Listing</a></li>
                <li><a href="#">Profile</a></li>
                <li class="active"><a href="#/manageDinner1">Your Dinner</a></li>
                <li><a href="#/manageOrder">Your Order</a></li>
            </ul>
        </nav>
    </div>

    <div class="manageDinnerBody">
        <div class="manageDinnerB1">
            
            <div class="col-sm-4">
                <div class="manageDinnerPic">
                    <img src="images\pic\kungpaoChicken.jpg" class="img-rounded">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="manageDinnerDetail">
                    <h3 class="manageDinnerTitle">Kong Pao Chicken &nbsp; &nbsp;<span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                    </h3>
                    <p class="manageDinnerIngredient">Description</p>
                    <p class="manageDinnerDescription">Juicy, tasty, and spicy chicken. Small cut to let you easy to enjoy. If you like chicken, if you like
                        spicy food, and if you like Chinese food, it's a really good option!
                    </p>
                    <p class="manageDinnerIngredient">Ingredients</p>
                    <table>
                        <tr>
                            <td>1</td>
                            <td>lb boneless skinless <span class="manageDinnerGreen">chicken breast</span>, cut into 1 inch pieces</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tablespoon cornstarch</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td> teaspoons light <span class="manageDinnerGreen">sesameoil</span> or 2 teaspoons <span class="manageDinnerGreen"> vegetable oil</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td> tablespoons green onions, chopped with tops</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><span class="manageDinnerGreen"> garlic cloves</span>, minced</td>
                        </tr>
                        <tr>
                            <td> 1⁄4 -1 1⁄2  &nbsp;&nbsp;</td>
                            <td>easpoon crushed <span class="manageDinnerGreen">red pepper flakes </span>(to your own taste)</td>
                        </tr>
                        <tr>
                            <td>1⁄2</td>
                            <td> teaspoon powdered <span class="manageDinnerGreen">ginger</span> (can use fresh grated if preferred)</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td> tablespoons rice wine<span class="manageDinnerGreen"> vinegar</span></td>
                        </tr>
                        <tr>
                            <td> 2</td>
                            <td> tablespoons <span class="manageDinnerGreen">soy sauce</span></td>
                        </tr>
                        <tr>
                            <td> 2</td>
                            <td> teaspoons <span class="manageDinnerGreen">sugar</span></td>
                        </tr>
                        <tr>
                            <td> 1⁄3</td>
                            <td> cup dry roasted<span class="manageDinnerGreen"> peanuts</span></td>
                        </tr>
                       
                    </table>
                </div>
            </div>
        </div>
        <hr class="manageDinnerHR">
        <div class="manageDinnerB2">
           
            <div class="col-sm-4">
                <div class="manageDinnerPic">
                    <img src="images\pic\mapoTofu.jpg" class="img-rounded">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="manageDinnerDetail">
                     <h3 class="manageDinnerTitle">MaPo Tofu &nbsp; &nbsp;<span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                     <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span>
                    <span class="manageDinnerChili"><img src="images\pic\chili.jpg"></span></h3>
                    <p class="manageDinnerIngredient">Description</p>
                    <p class="manageDinnerDescription">Consists of tofu set in a spicy chili and bean-based sauce, often cooked with douchi (fermented black beans) and minced meat.
                    </p>
                    <p class="manageDinnerIngredient">Ingredients</p>
                    <table>
                        <tr>
                            <td>15 -16</td>
                            <td>ounces <span class="manageDinnerGreen">tofu</span>, regular</td>
                        </tr>
                        <tr>
                            <td>1⁄2</td>
                            <td>teaspoon <span class="manageDinnerGreen">salt</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="manageDinnerGreen">water</span>, for parboiling tofu</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td> ounces ground <span class="manageDinnerGreen">pork</span></td>
                        </tr>
                        <tr>
                            <td>1⁄2</td>
                            <td>cup green <span class="manageDinnerGreen">garlic chives</span>, chopped in 1/2 inches (nira)</td>
                        </tr>
                        <tr>
                            <td> 2</td>
                            <td>tablespoons <span class="manageDinnerGreen">vegetable oil</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td> tablespoon chinese <span class="manageDinnerGreen">chili bean sauce </span>(toubanjan or doubanjiang)</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tablespoon chinese <span class="manageDinnerGreen">brown bean sauce</span> (tenmienjan, tenmenjan, or tenmenjiang)</td>
                        </tr>
                        <tr>
                            <td> 2</td>
                            <td>teaspoons fermented<span class="manageDinnerGreen"> black beans</span>, chopped finely</td>
                        </tr>
                        <tr>
                            <td>1⁄4-1⁄2 &nbsp;&nbsp;</td>
                            <td> teaspoon ichimi <span class="manageDinnerGreen">togarashi pepper</span> or 1⁄4-1⁄2 teaspoon japanese dried <span class="manageDinnerGreen">red chili pepper</span>, minced </td>
                        </tr>
                        <tr>
                            <td> 1</td>
                            <td> teaspoon <span class="manageDinnerGreen">chili oil</span></td>
                        </tr>
                        <tr>
                            <td> 3⁄4</td>
                            <td> cup <span class="manageDinnerGreen">chicken stock</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="manageDinnerBtn">
            <ul>
                <li><a href="#/manageDinner1" class="btn btn-defaul btn-lg active">1</a></li>
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">2</a></li>
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">3</a></li>
                ........
                <li><a href="#/manageDinner2" class="btn btn-defaul btn-lg">8</a></li>
                <li><a href="#/manageDinnerLast" class="btn btn-defaul btn-lg">&raquo;</a></li>
            </ul>
        </div>

    </div>

</div>