<div class="profile_container">
    <div class="profile_container_responsive profile_space_top_4 profile_space_4">
        <div class="profile_row">
            <div class="profile_col_md_3">
                <div id="profile_user" class="profile_space_4">
                    <div class="profile_space_2" id="viewProfile_media_container">
                        <div id="viewProfile_slideshow" class="viewProfile_slide" data-ride="viewProfile_img">
                            <div class="viewProfile_slideshow_preload">
                                <img id="viewProfile_slideshow_preload_01" src="/app/images/pic/host01.jpg" alt="host01" width="440px" height="440px">
                                <!--<img src="/app/images/pic/host02.jpg" alt="host01" width="420px" height="420px">
                                <img src="/app/images/pic/host03.jpg" alt="host01" width="420px" height="420px">                                -->
                            </div>

                            <ul class="viewProfile_slideshow_images">
                                <li class="view_media_photo view_media_photo_block active">
                                    <img class="view_img_responsive" src="/app/images/pic/host01.jpg" alt="host01" width="440px" height="440px">
                                </li>
                                <!--<li class="view_media_photo view_media_photo_block">
                                    <img class="view_img_responsive" src="/app/images/pic/host02.jpg" alt="host02" width="420px" height="420px">                                    
                                </li>-->
                            </ul>

                            <!--<ul class="viewProfile_slideshow_images">
                                <li class="view_media_photo view_media_photo_block active">
                                    <img class="view_img_responsive" id="viewProfile_slideshow_preload_01">
                                </li>
                                <li class="view_media_photo view_media_photo_block">
                                    <img class="view_img_responsive" id="viewProfile_slideshow_preload_02">                                    
                                </li>
                            </ul>-->
                            
                            <!--Indicator-->
                            <!--<ul class="viewProfile_slideshow_images">
                                <li data-target="#viewProfile_slideshow" data-slide-to="0" class="active"></li>
                                <li data-target="#viewProfile_slideshow" data-slide-to="1"></li>
                                <li data-target="#viewProfile_slideshow" data-slide-to="2"></li>
                            </ul>-->

                            <!-- Wrapper for slides -->
                            <!--<div class="viewProfile_slideshow_preload" role="listbox">
                                <div class="view_media_photo active">
                                    <img src="/app/images/pic/host01.jpg" alt="host01" width="300px" height="300px">
                                </div>
                                <div class="view_media_photo">
                                    <img src="/app/images/pic/host02.jpg" alt="host02" width="300px" height="300px">
                                </div>
                                <div class="view_media_photo active">
                                    <img src="/app/images/pic/host03.jpg" alt="host03" width="300px" height="300px">
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>

                <div id="profile_user" class="profile_space_4">
                    <div class="profile_panel_header">Verifications</div>
                    <div class="profile_panel_body">
                        <dl>
                            <ul class="dinner_list_unstyled">
                                <li class="profile_row profile_row_condensed">
                                    <div class="viewProfile_media">
                                        <i class="profile_icon icon_ok viewProfile_pull_left"></i>
                                        <div class="viewProfile_media_body">
                                            <div class="profile_h4">Email address</div>
                                            <div class="profile_text_muted">Verified</div>
                                        </div>
                                    </div>
                                    <div class="viewProfile_media">
                                        <i class="profile_icon icon_ok viewProfile_pull_left"></i>
                                        <div class="viewProfile_media_body">
                                            <div class="profile_h4">Phone number</div>
                                            <div class="profile_text_muted">(▒▒▒)▒▒▒-▒▒38</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </dl>
                        <a href="#" id="add_verification">Add More Verifications</a>
                    </div>
                </div>  

                <div id="profile_user" class="profile_space_4">
                    <div class="profile_panel_header">About Me</div>
                    <div class="profile_panel_body">
                        <dl>
                            <dt class="profile_h4">School</dt><dd class="profile_text_muted">Northeastern</dd>
                            <dt class="profile_h4">Languages</dt><dd class="profile_text_muted">English</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="profile_col_md_9">
                <div class="profile_row profile_space_4">
                    <div class="profile_col_lg_12">
                        <h1>Hey, I'm Leo!</h1>
                        <div class="profile_h5 profile_space_top_4">
                            <a href="#/dinnerList" id="viewProfile_a01">Boston, Massachusetts, United States</a>
                            <span> · </span><span>Member since August 2016</span>
                        </div>
                        <div class="profile_text_muted profile_space_top_4">
                            <a href="#" id="viewProfile_a02">
                                <i class="profile_icon icon_flag"></i><span> Report this user</span>
                            </a>
                        </div>
                        <div class="profile_space_top_2 profile_space_3"><a href="#/editProfile" id="viewProfile_a03">Edit Profile</a></div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>