<footer class="navbar navbar-default" ng-style="fixBottom">
    <div class="menufoot footerContainer">
        <ul class="menufoot" id="menutop">
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>

        <ul class="menufoot" id="menuicon">
            <li>
                <a href="#"><i class="icon_facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="icon_google"></i></a>
            </li>
            <li>
                <a href="#"><i class="icon_linkedin"></i></a>
            </li>
            <li>
                <a href="#"><i class="icon_snapchat"></i></a>
            </li>
            <li>
                <a href="#"><i class="icon_pin"></i></a>
            </li>
            <li>
                <a href="#"><i class="icon_twitter"></i></a>
            </li>
        </ul>
    </div>
</footer>