<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <img alt="brandIcon" src="images/icon/brand.png" class="brand">
            </a>
        </div>
        <ul class="nav_sign navbar-nav navbar-right">
            <!--<li>
                    <a href="#/"><i class="fa fa-home"></i> Home
                        <img alt="homeIcon" src="images/icon/home.png">
                    </a>
                </li>-->
            <!--<li>
                    <a href="#/login"><i class="fa fa-home"></i> Help
                        <img alt="helpIcon" src="images/icon/help.png">
                    </a>
                </li>-->
            <!--<li>
                    <a href="#/" ng-click="open()"><i class="fa fa-home" ></i> Sign Up
                        <img alt="profileIcon" src="images/icon/profile.png">
                    </a>
                </li>-->
            <li class="nav_signin">
                <a href="#/createDinner" class="nav_signin">Become a Host</a>
            </li>
            <li class="nav_signin">
                <a href="#/manageListing" class="nav_signin">Managing List</a>
            </li>
            <li class="nav_signin">
                <a href="#/" ng-click="open()" class="nav_signin">Sign In</a>
            </li>
            <li>
                <a href="#/" ng-click="signUp()" class="nav_signup">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>