<script type="text/ng-template" id="/app/modules/views/templates/loginTmp.html">
<html>
    <head>
    <div class="modal-header loginfont" align="center">
        <h3 class="modal-title">Welcome to foodie family!</h3>
    </div>
    </head>

    <body>
    <div class="modal-body loginfont">
        <div class="container">
            <form>
                <div class="form-group">
                    <input type="email" class="control-group" id="email" name="email" placeholder="Email Address" required style="width:500px;">
                    <span><img src="images/icon/mail.png"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="control-group" id="password" name="password" placeholder="Password" required style="width:500px;">
                    <span><img src="images/icon/key.png"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="control-group" name="remember" value="remember">Remember me
                    <span class="loginbodyspan"><a href="#/forgotPassword">Forgot password?</a></span>
                </div>

                <button type="submit" class="btnloginlogin">Log In</button>

                
            </form>
        </div>
    </div>

    <div class="modal-footer loginfont">
        <span class="loginfooterspan">Don't have an account?</span>
        <button type="submit" class="btnloginsignup">Sign Up</button>
    </div>

    </body>

</html>
</script>