<div class="setAmenity_container">

    <div class="setBasicNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/setLocation">Location</a></li>
                <li><a href="#/setPlaceType">Place Type</a></li>
                <li><a href="#/setGuestNum">Guest Number</a></li>
                <li class="active"><a href="#/setAmenity">Amenity</a></li>
            </ul>
        </nav>
    </div>

    <div class="setBasic_list_space_content">
        <div class="setBasic_centered_content">
            <div class="setBasic_main_panel_container setBasic_main_panel_outer_half setBasic_no_padding_h setBasic_bg_white">
                <div class="setBasic_main_panel setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                    <div class="setBasic_no_panel_border setBasic_panel_title">
                        <h3 class="setBasic_h3 setBasic_no_margin_padding">What amenities do you offer?</h3>
                    </div>
                    <div class="setBasic_amenities">
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="wireless_internet" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="wireless_internet"><span>Wifi</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="tv" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="tv"><span>TV</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="airConditioning" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="airConditioning"><span>Air Conditioning</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="freeParking" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="freeParking"><span>Free Parking</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="overnight" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="overnight"><span>Overnight</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="disableCare" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="disableCare"><span>Disable Care</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="petsAllowed" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="petsAllowed"><span>Pets Allowed</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="closeToMbta" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="closeToMbta"><span>Close to MBTA</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="videoGame" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="videoGame"><span>Video Game</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    <h4 class="setBasic_space_top_8 setBasic_space_3 setBasic_text_gray setBasic_h4">
                        <span>Safety amenities</span>
                    </h4>
                    <div class="setBasic_safety_amenities">
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="smokeDetector" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="smokeDetector"><span>Smoke Detector</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="fireExtinguisher" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="fireExtinguisher"><span>Fire Extinguisher</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="firstAidKit" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="firstAidKit"><span>First Aid Kit</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="setBasic_space_5 setBasic_amenity_item">
                            <input id="carbon" type="checkbox" class="setBasic_input setBasic_col_sm_1">
                            <div class="setBasic_pull_left setBasic_col_sm_11">
                                <label for="carbon"><span>Carbon monoxide detetor</span></label>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setBasic_main_panel_wrapper">
                    <div class="setBasic_centered_content">
                        <div class="setBasic_bg_white setBasic_main_panel_outer_half">
                            <div class="setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                                <div class="setBasic_divider"></div>
                                <div class="setBasic_row">
                                    <div class="setBasic_main_panel_actions setBasic_col_sm_12">
                                        <div>
                                            <a class="setBasic_a setBasic_btn_back link_icon setBasic_va_container setBasic_va_container_v setBasic_pull_left setBasic_text_gray"
                                                href="#/setGuestNum">
                                                <span class="setBasic_icon_back"></span>
                                                <span class="setBasic_va_middle">
                                                    <h5 class="setBasic_h5 setBasic_text_normal"><span></span>Back</h5>
                                                </span>
                                            </a>
                                            <a class="setBasic_a setBasic_btn setBasic_btn_large setBasic_btn_next setBasic_btn_large_next setBasic_pull_right_md setBasic_btn_primary"
                                                href="#/createDinner" id="setBtn_same">
                                                <div class="setBasic_btn_next_text"><span>Finish</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="setBasic_help_panel_container">
                <div class="setBasic_hide_sm setBasic_help_panel setBasic_panel">
                    <div class="setBasic_panel_body">
                        <div class="setLocation_help_panel-bulb_img"></div>
                        <div class="setLocation_help_panel_text">
                            <div class="setLocation_p">
                                <p>Providing the essentials helps guests feel at home in your place.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>