<div class="setGuestNum_container">

    <div class="setBasicNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/setLocation">Location</a></li>
                <li><a href="#/setPlaceType">Place Type</a></li>
                <li class="active"><a href="#/setGuestNum">Guest Number</a></li>
                <li><a href="#/setAmenity">Amenity</a></li>
            </ul>
        </nav>
    </div>

    <div class="setBasic_list_space_content">
        <div class="setBasic_centered_content">
            <div class="setBasic_main_panel_container setBasic_main_panel_outer_half setBasic_no_padding_h setBasic_bg_white">
                <div class="setBasic_main_panel setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                    <div class="setBasic_no_panel_border setBasic_panel_title">
                        <h3 class="setBasic_h3 setBasic_no_margin_padding">How many guests can you place accomodate?</h3>
                    </div>
                    <div class="setBasic_guestNum setBasic_row setBasic_no_margin_h setBasic_space_4">
                        <div class="setBasic_increment_btn setBasic_no_padding">
                            <div class="setBasic_increment_btn setBasic_btn_group setBasic_no_padding">
                                <div class="setBasic_text_gray setBasic_btn setBasic_increment_jumbo setBasic_increment_btn_label setBasic_increment_btn_label_with_btns">
                                    <div class="setBasic_increment_btn_border_container_label setBasic_text_truncated">
                                        <span class="setBasic_text_muted">
                                            <span>1 Table</span>
                                        </span>
                                    </div>
                                </div>
                                <button type="button" class="setBasic_btn setBasic_btn_jumbo setBasic_increment_btn_decrementer" aria-label="minus 1">
                                    <div class="setBasic_increment_btn_border_container_decrementer"></div>
                                </button>
                                <button type="button" class="setBasic_btn setBasic_btn_jumbo setBasic_increment_btn_incrementer" aria-label="plus 1">
                                    <div class="setBasic_increment_btn_border_container_incrementer"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="setBasic_row setBasic_no_margin_h setBasic_space_top_4">
                        <label for="guestNum_stay" class="setBasic_text_gray">
                            <span>How many guests can stay?</span>
                        </label>
                        <div class="setBasic_increment_btn setBasic_no_padding">
                            <div class="setBasic_increment_btn setBasic_btn_group setBasic_no_padding">
                                <div class="setBasic_text_gray setBasic_btn setBasic_increment_jumbo setBasic_increment_btn_label setBasic_increment_btn_label_with_btns">
                                    <div class="setBasic_increment_btn_border_container_label setBasic_text_truncated">
                                        <span class="setBasic_text_muted">
                                            <span>1 Guest</span>
                                        </span>
                                    </div>
                                </div>
                                <button type="button" class="setBasic_btn setBasic_btn_jumbo setBasic_increment_btn_decrementer" aria-label="minus 1">
                                    <div class="setBasic_increment_btn_border_container_decrementer"></div>
                                </button>
                                <button type="button" class="setBasic_btn setBasic_btn_jumbo setBasic_increment_btn_incrementer" aria-label="plus 1">
                                    <div class="setBasic_increment_btn_border_container_incrementer"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setBasic_main_panel_wrapper">
                    <div class="setBasic_centered_content">
                        <div class="setBasic_bg_white setBasic_main_panel_outer_half">
                            <div class="setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                                <div class="setBasic_divider"></div>
                                <div class="setBasic_row">
                                    <div class="setBasic_main_panel_actions setBasic_col_sm_12">
                                        <div>
                                            <a class="setBasic_a setBasic_btn_back link_icon setBasic_va_container setBasic_va_container_v setBasic_pull_left setBasic_text_gray"
                                                href="#/setPlaceType">
                                                <span class="setBasic_icon_back"></span>
                                                <span class="setBasic_va_middle">
                                                    <h5 class="setBasic_h5 setBasic_text_normal"><span></span>Back</h5>
                                                </span>
                                            </a>
                                            <a class="setBasic_a setBasic_btn setBasic_btn_large setBasic_btn_next setBasic_btn_large_next setBasic_pull_right_md setBasic_btn_primary"
                                                href="#/setAmenity" id="setBtn_same">
                                                <div class="setBasic_btn_next_text"><span>Next</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="setBasic_help_panel_container">
                <div class="setBasic_hide_sm setBasic_help_panel setBasic_panel">
                    <div class="setBasic_panel_body">
                        <div class="setLocation_help_panel-bulb_img"></div>
                        <div class="setLocation_help_panel_text">
                            <div class="setLocation_p">
                                <p>The number of tables you have determines how many guests can eat comfortably.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>