<div class="setLocation_container">

    <div class="setBasicNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/setLocation">Location</a></li>
                <li><a href="#/setPlaceType">Place Type</a></li>
                <li><a href="#/setGuestNum">Guest Number</a></li>
                <li><a href="#/setAmenity">Amenity</a></li>
            </ul>
        </nav>
    </div>

    <div class="setBasic_list_space_content">
        <div class="setBasic_centered_content">
            <div class="setBasic_main_panel_container setBasic_main_panel_outer_half setBasic_no_padding_h setBasic_bg_white">
                <div class="setBasic_main_panel setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                    <div class="setBasic_no_panel_border setBasic_panel_title">
                        <h3 class="setBasic_h3 setBasic_no_margin_padding">Where's your place located?</h3>
                    </div>
                    <div class="setLocation_form">
                        <form>
                            <div class="setBasic_label">
                                <label for="setLocation_form_country">Country</label>
                                <div class="setLocation_select_country setLocation_select_country_block setLocation_select_country_jumbo setLocation_whole_width">
                                    <input list="countries" id="countries" placeholder="Your Country">
                                    <datalist id="setLocation_country">
                                        <option value="Afghanistan">
                                            <option value="Bahamas">
                                                <option value="Cambodia">
                                                    <option value="Denmark">
                                                        <option value="East Timor">
                                                            <option value="Fiji">
                                                                <option value="Gabon">
                                                                    <option value="Haidi">
                                                                        <option value="Iceland">
                                                                            <option value="Japan">
                                                                                <option value="Kenya">
                                                                                    <option value="Laos">
                                                                                        <option value="Macedonia">
                                                                                            <option value="Naoru">
                                                                                                <option value="Oman">
                                                                                                    <option value="Pakistan">
                                                                                                        <option value="Qatar">
                                                                                                            <option value="Reunion">
                                                                                                                <option value="Saint Helena">
                                                                                                                    <option value="Thailand">
                                                                                                                        <option
                                                                                                                            value="United States">
                                                                                                                            <option value="Vietnam">
                                                                                                                                <option
                                                                                                                                    value="Western Sahara">
                                                                                                                                    <option
                                                                                                                                        value="Yemen">
                                                                                                                                        <option value="Zambia">
                                    </datalist>
                                </div>
                            </div>
                            <div class="setBasic_row">
                                <div class="setLocation_space_top_2 setLocation_col_sm_12 setBasic_label">
                                    <label for="setLocation_form_street">Street Address</label><br>
                                    <input class="setLocation_input setBasic_input setBasic_input_jumbo setLocation_form_input" id="setLocation_form_street"
                                        name="setLocation_street" type="text" autocomplete="off" placeholder="e.g. 123 Main St.">
                                </div>
                                <div class="setLocation_space_top_2 setLocation_col_sm_12 setBasic_label">
                                    <label for="setLocation_form_apt">Apt, Suite, Bldg. (optional)</label><br>
                                    <input class="setLocation_input setBasic_input setBasic_input_jumbo setLocation_form_input" id="setLocation_form_apt" name="setLocation_apt"
                                        type="text" autocomplete="off" placeholder="e.g. Apt #7">
                                </div>
                                <div class="setLocation_space_top_2 setLocation_col_sm_12 setLocation_col_md_6 setBasic_label">
                                    <label for="setLocation_form_city">City</label><br>
                                    <input class="setBasic_input setBasic_input_jumbo setLocation_form_input" id="setLocation_form_city" name="setLocation_city"
                                        type="text" autocomplete="off" placeholder="e.g. Boston">
                                </div>
                                <div class="setLocation_space_top_2 setLocation_col_sm_12 setLocation_col_md_6 setBasic_label">
                                    <label for="setLocation_form_state">State</label><br>
                                    <input class="setBasic_input setBasic_input_jumbo setLocation_form_input" id="setLocation_form_state" name="setLocation_state"
                                        type="text" autocomplete="off" placeholder="e.g. MA">
                                </div>
                                <div class="setLocation_space_top_2 setLocation_col_sm_12 setBasic_label">
                                    <label for="setLocation_form_zipcode">ZIP Code</label><br>
                                    <input class="setBasic_input setBasic_input_jumbo setLocation_form_input" id="setLocation_form_zipcode" name="setLocation_zipcode"
                                        type="text" autocomplete="off" placeholder="e.g. 02115">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="setBasic_main_panel_wrapper">
                    <div class="setBasic_centered_content">
                        <div class="setBasic_bg_white setBasic_main_panel_outer_half">
                            <div class="setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                                <div class="setBasic_divider"></div>
                                <div class="setBasic_row">
                                    <div class="setBasic_main_panel_actions setBasic_col_sm_12">
                                        <div>
                                            <a class="setBasic_a setBasic_btn_back link_icon setBasic_va_container setBasic_va_container_v setBasic_pull_left setBasic_text_gray"
                                                href="#/createDinner">
                                                <span class="setBasic_icon_back"></span>
                                                <span class="setBasic_va_middle">
                                                    <h5 class="setBasic_h5 setBasic_text_normal"><span>Back</span></h5>
                                                </span>
                                            </a>
                                            <a class="setBasic_a setBasic_btn setBasic_btn_large setBasic_btn_next setBasic_btn_large_next setBasic_pull_right_md setBasic_btn_primary"
                                                href="#/setPlaceType" id="setBtn_same">
                                                <div class="setBasic_btn_next_text"><span>Next</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="setBasic_help_panel_container">
                <div class="setBasic_hide_sm setBasic_help_panel setBasic_panel">
                    <div class="setBasic_panel_body">
                        <div class="setLocation_help_panel-bulb_img"></div>
                        <div class="setLocation_help_panel_text">
                            <div class="setLocation_p">
                                <p><span>Your exact address will only be shared with confirmed guests.</span></p>
                                <div class="setLocation_tipAddress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>