<div class="setPlaceType_container">

    <div class="setBasicNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/setLocation">Location</a></li>
                <li class="active"><a href="#/setPlaceType">Place Type</a></li>
                <li><a href="#/setGuestNum">Guest Number</a></li>
                <li><a href="#/setAmenity">Amenity</a></li>
            </ul>
        </nav>
    </div>

    <div class="setBasic_list_space_content">
        <div class="setBasic_centered_content">
            <div class="setBasic_main_panel_container setBasic_main_panel_outer_half setBasic_no_padding_h setBasic_bg_white">
                <div class="setBasic_main_panel setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                    <div class="setBasic_no_panel_border setBasic_panel_title">
                        <h3 class="setBasic_h3 setBasic_no_margin_padding">What kink of place are you hosting your dinner?</h3>
                    </div>
                    <div class="setBasic_placeType">
                        <div class="setBasic_block_radio_btn">
                            <label class="set_label_indoor_border setBasic_label setBasic_btn setBasic_btn_block setBasic_block_radio_btn_panel" for="placeType_indoor">
                                <!--<div class="setBasic_row setBasic_no_margin_h">
                                    <i class="setBasic_pull_left setBasic_icon setBasic_icon_with_label setBasic_icon_gray setBasic_icon_font_size_20 setBasic_icon_indoor"></i>
                                    <div class="setBasic_pull_left setBasic_text_lead setBasic_block_radio_btn_label">
                                        <span>Indoor</span>
                                    </div>
                                    <div class="setBasic_pull_right">
                                        <input id="placeType_indoor" type="radio" name="placeType" value="indoor" checked class="setBasic_input setBasic_pointer_input"><span>Indoor</span>
                                    </div>
                                </div>-->
                                <!--<input type="radio"/> indoortest-->
                                 <input id="placeType_indoor" type="radio" name="placeType" value="indoor" checked class="radio_btn_size"><span class="radio_indoor_padding">Indoor</span>
                            </label>
                        </div>
                        <div class="setBasic_block_radio_btn">
                            <label class="setBasic_label setBasic_btn setBasic_btn_block setBasic_block_radio_btn_panel" for="placeType_outdoor">
                                <!--<div class="setBasic_row setBasic_no_margin_h">
                                    <i class="setBasic_pull_left setBasic_icon setBasic_icon_with_label setBasic_icon_gray setBasic_icon_font_size_20 setBasic_icon_outdoor"></i>
                                    <div class="setBasic_pull_left setBasic_text_lead setBasic_block_radio_btn_label">
                                        <span>Outdoor</span>
                                    </div>
                                    <div class="setBasic_pull_right">
                                        <input id="placeType_outdoor" type="radio" name="placeType" value="outdoor" checked class="setBasic_input setBasic_pointer_input">
                                    </div>
                                </div>-->
                                <input id="placeType_outdoor" type="radio" name="placeType" value="indoor" checked class="radio_btn_size"><span class="radio_indoor_padding">Outdoor</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="setBasic_main_panel_wrapper">
                    <div class="setBasic_centered_content">
                        <div class="setBasic_bg_white setBasic_main_panel_outer_half">
                            <div class="setBasic_main_panel_padding setBasic_pull_right setBasic_main_panel_inner_half">
                                <div class="setBasic_divider"></div>
                                <div class="setBasic_row">
                                    <div class="setBasic_main_panel_actions setBasic_col_sm_12">
                                        <div>
                                            <a class="setBasic_a setBasic_btn_back link_icon setBasic_va_container setBasic_va_container_v setBasic_pull_left setBasic_text_gray"
                                                href="#/setLocation">
                                                <span class="setBasic_icon_back"></span>
                                                <span class="setBasic_va_middle">
                                                    <h5 class="setBasic_h5 setBasic_text_normal"><span></span>Back</h5>
                                                </span>
                                            </a>
                                            <a class="setBasic_a setBasic_btn setBasic_btn_large setBasic_btn_next setBasic_btn_large_next setBasic_pull_right_md setBasic_btn_primary"
                                                href="#/setGuestNum" id="setBtn_same">
                                                <div class="setBasic_btn_next_text"><span>Next</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="setBasic_help_panel_container">
                <div class="setBasic_hide_sm setBasic_help_panel setBasic_panel">
                    <div class="setBasic_panel_body">
                        <div class="setLocation_help_panel-bulb_img"></div>
                        <div class="setLocation_help_panel_text">
                            <div class="setLocation_p">
                                <p>
                                    <span id="setBasic_help_panel_title">Indoor</span><br>
                                    <span>Guests will enjoy their dinner indoor.</span>
                                </p>
                                <p>
                                    <span id="setBasic_help_panel_title">Outdoor</span><br>
                                    <span>Guests will enjoy their dinner outdoor. Includes garden, balcony, etc.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>