<div class="setMenuNavbar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#/uploadPhoto">Photo</a></li>
            <li><a href="#/setFoodType">Food Type</a></li>
            <li class="active"><a href="#/setDescription">Description</a></li>
            <li><a href="#/setDinnerName">Dinner Name</a></li>
        </ul>
    </nav>
</div>
<div class="setDescriptionTemp">
    <table>
        <tr>
            <td>
                <div class="setDescriptionLeft">
                    <h1 class="setDescriptionLeftWhat">Edit your description</h1>
                    <div class="setDescriptionLeftTable">
                        <form class="setDescriptionTextare">
                            <textarea></textarea>
                        </form>
                    </div>
                    <hr class="setDescriptionHr">
                    <div class="setDescriptionFooter">
                        <span class="setDescriptionFooterBack"><a href="#/setFoodType">< Back</a> </span>
                        <span class="setDescriptionFooterBtn"><a href="#/setDinnerName" class="btn btn-success" role="button">Next</a></span>
                    </div>
                </div>
            </td>

            <td>
                <div class="setDescriptionRight">
                    <img src="images/pic/host01.jpg">
                </div>
            </td>
        </tr>
    </table>
</div>