<div class="setDescriptionTemp">
    <div class="setMenuNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/uploadPhoto">Photo</a></li>
                <li><a href="#/setFoodType">Food Type</a></li>
                <li class="active"><a href="#/setDescription">Description</a></li>
                <li><a href="#/setDinnerName">Dinner Name</a></li>
            </ul>
        </nav>
    </div>

    <div class="uploadPhotTalbe">
        <div class="col-sm-8">
            <div class="setMenuLeft">
                <h1 class="uploadPhotoLeftPhotos">Edit your description</h1>
                <div class="setMenuTable">
                    <div class="setDescriptionLeftTable">
                        <form class="setDescriptionTextare">
                            <textarea placeholder="Description"></textarea>
                        </form>
                    </div>
                    
                </div>
                <hr>
                <div class="uploadPhotoFooter">
                    <span class="setDescriptionFooterBack"><a href="#/setFoodType">< Back</a> </span>
                        <span class="setDescriptionFooterBtn"><a href="#/setDinnerName" class="btn btn-success" role="button">Next</a></span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="setMenuRight">
                <div class="setLocation_help_panel-bulb_img"></div>
                <p>Describe your dish, share your emotion and reasons.</p>
                <img src="images/pic/noodle.jpg">
            </div>
        </div>

    </div>
</div>