<div class="setMenuNavbar">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#/uploadPhoto">Photo</a></li>
      <li><a href="#/setFoodType">Food Type</a></li>
      <li><a href="#/setDescription">Description</a></li> 
      <li class="active"><a href="#/setDinnerName">Dinner Name</a></li> 
    </ul>
</nav>
</div>
<div class="setDinnerNameTemp">
    <table>
        <tr>
            <td>
                <div class="setDinnerNameLeft">
                    <h1 class="setDinnerNameWhat">Name your dinner!</h1>
                    <div class="setDinnerNameTable">
                        <form class="setDinnerNameText">
                            <input type="text" name="dinnerName" placeholder="The best dinner ever!">
                        </form>
                    </div>
                    <hr class="setDinnerNameHr">
                    <div class="setDinnerNameFooter">
                        <span class="setDinnerNameFooterBack"><a href="#/setDescription">< Back</a> </span>
                        <span class="setDinnerNameFooterBtn"><a href="#/createDinner" class="btn btn-success" role="button">Finish</a></span>
                    </div>
                </div>
            </td>
            <td>
                <div class="setDinnerNameRight">
                    <img src="images/pic/host01.jpg">
                </div>
            </td>
        </tr>
    </table>
</div>