<div class="setMenuNavbar">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#/uploadPhoto">Photo</a></li>
      <li class="active"><a href="#/setFoodType">Food Type</a></li>
      <li><a href="#/setDescription">Description</a></li> 
      <li><a href="#/setDinnerName">Dinner Name</a></li> 
    </ul>
</nav>
</div>
<div class="setFoodTypeTemp">
    <table>
        <tr>
            <td>
                <div class="setFoodTypeLeft">
                    <h1 class="setFoodTypeLeftWhat">What kind of food can you make?</h1>
                    <div class="setFoodTypeLeftTable">
                        <form>
                            <table>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="ChineseFood">Chinese Food</td>
                                    <td><input type="checkbox" name="foodType" value="AmericanFood">American Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="JapaneseFood">Japanese Food</td>
                                    <td><input type="checkbox" name="foodType" value="KoreanFood">Korean Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="MexicanFood">Mexican Food</td>
                                    <td><input type="checkbox" name="foodType" value="IndianFood">Indian Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="FrenchFood">French Food</td>
                                    <td><input type="checkbox" name="foodType" value="ItallianFood">Itallian Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="ThaiFood">Thai Food</td>
                                    <td></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <hr class="setFoodTypeHr">
                    <div class="setFoodTypeFooter">
                        <span class="setFoodTypeFooterBack"><a href="#/uploadPhoto">< Back</a> </span>
                        <span class="setFoodTypeFooterBtn"><a href="#/setDescription" class="btn btn-success" role="button">Next</a></span>
                    </div>
                </div>
            </td>
            <td>
                <div class="setFoodTypeRight">
                    <img src="images/pic/host01.jpg">
                </div>
            </td>
        </tr>
    </table>
</div>