
<div class="setFoodTypeTemp">
    <div class="setMenuNavbar">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#/uploadPhoto">Photo</a></li>
                <li class="active"><a href="#/setFoodType">Food Type</a></li>
                <li><a href="#/setDescription">Description</a></li>
                <li><a href="#/setDinnerName">Dinner Name</a></li>
            </ul>
        </nav>
    </div>

    <div class="uploadPhotTalbe">
        <div class="col-sm-8">
            <div class="setMenuLeft">
                <h1 class="uploadPhotoLeftPhotos">What kind of food can you make?</h1>
                <div class="setMenuTable">
                    <div class="setFoodTable">
                        <form>
                            <table>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="ChineseFood">Chinese Food</td>
                                    <td><input type="checkbox" name="foodType" value="AmericanFood">American Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="JapaneseFood">Japanese Food</td>
                                    <td><input type="checkbox" name="foodType" value="KoreanFood">Korean Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="MexicanFood">Mexican Food</td>
                                    <td><input type="checkbox" name="foodType" value="IndianFood">Indian Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="FrenchFood">French Food</td>
                                    <td><input type="checkbox" name="foodType" value="ItallianFood">Itallian Food</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="foodType" value="ThaiFood">Thai Food</td>
                                    <td></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="uploadPhotoFooter">
                    <span class="setFoodTypeFooterBack"><a href="#/uploadPhoto">< Back</a> </span>
                <span class="setFoodTypeFooterBtn"><a href="#/setDescription" class="btn btn-success" role="button">Next</a></span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="setMenuRight">
                <div class="setLocation_help_panel-bulb_img"></div>
                <p>What  is your favorite food type? And which food type are you good at?</p>
                <img src="images/pic/noodle.jpg">
            </div>
        </div>

    </div>
</div>