<div class="setMenuNavbar">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/uploadPhoto">Photo</a></li>
      <li><a href="#/setFoodType">Food Type</a></li>
      <li><a href="#/setDescription">Description</a></li> 
      <li><a href="#/setDinnerName">Dinner Name</a></li> 
    </ul>
</nav>
</div>
<div class="uploadPhotoTemp">
    <table>
        <tr>
            <td>
                <div class="uploadPhotoLeft">
                    <h1 class="uploadPhotoLeftPhotos">Photos</h1>
                    <div class="uploadPhotoLeftTable">
                        <div class="uploadPhotLeftContent">
                            <div class="uploadPhotoReal">
                                <span><img src="images/icon/cloudUpload.png"></span>&nbsp; &nbsp;&nbsp
                                <span><button type="button">Upload Photo</button></span></div>
                            <div class="uploadPhotoFile"><input type="file" title="  " /> </div>
                        </div>
                    </div>
                    <hr>
                    <div class="uploadPhotoFooter">
                        <span class="uploadPhotoFooterBack"><a href="#/createDinner">< Back</a></span>
                        <span class="uploadPhotoFooterBtn"><a href="#/setFoodType" class="btn btn-success" role="button">Skill for now</a></span>
                    </div>
                </div>
            </td>
            <td>
                <div class="uploadePhotoRight">
                    <img src="images/pic/host01.jpg">
                </div>
            </td>
        </tr>
    </table>
</div>